* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

#openSearchModalBtn {
  padding: 0.6rem;
  border-radius: 2rem;
  margin: 0 0.5rem;
  cursor: pointer;
  background: black;
  color: white;
  font-size: 0.8rem;
  transition: background 0.3s;

  &:hover {
    background: rgb(85, 85, 85);
  }
}

#closeSearchModalBtn {
  background: red;
  background: transparent;
  border: none;
  font-size: 2rem;
}

#searchBox {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding: 1rem 0;
  flex-direction: column;
  gap: 1.5rem;

  input[type="text"] {
    border: none;
    background: transparent;
    padding: 0.5rem 1rem;
    height: 100%;
    flex: 1;
    outline: none;
    text-align: center;
    border-bottom: 1px solid black;
  }

  button[type="submit"] {
    background: transparent;
    border: none;
    padding: 0.5rem 1rem;
    background: black;
    color: white;
    border-radius: 0.5rem;
  }
}

header {
  width: 100%;
  //   background-image: url("../images/hero.webp");
  //   background-repeat: no-repeat;
  //   background-size: cover;

  //   background-color: rgba(0, 0, 0, 0.514);
  //   background-blend-mode: overlay;

  .navbar-toggler {
    text-transform: uppercase;
    font-size: 1rem;

    &:focus {
      box-shadow: none;
    }
  }

  .navbar {
    background: white;
    font-size: 1rem;

    .navbar-brand {
      width: 7rem;
      height: 6rem;
      background-image: url("../images/logo.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: rgb(255, 255, 255);
      background-blend-mode: multiply;
    }

    .sc-icon {
      margin: 0 0.6rem;

      i {
        color: rgba(0, 0, 0, 0.699);
      }
    }

    .nav-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .nav-item.active {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 30%;
        border-bottom: 2px solid black;
      }
    }

    .nav-link {
      color: black;
    }
  }

  .banner {
    display: flex;
    background-image: url("../images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 90vh;
    width: 100%;
    align-items: center;

    .ctaMessage {
      width: 100%;
      max-width: 550px;
      margin-left: 10%;

      h4 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.61);
      }

      h1 {
        font-weight: 900;
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
      }

      .ctaBtn {
        padding: 0.5rem 2rem;
        background-color: black;
        color: white;
        border: none;
        border-radius: 2rem;
      }
    }
  }
}

main {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & > .title {
    font-size: 1.4rem;
    font-weight: 700;

    &::after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 30%;
      height: 2px;
      border-bottom: 5px solid rgba(0, 0, 0, 0.76);
    }
  }

  .subTitle {
    text-align: center;
    max-width: 600px;
    font-size: 1rem;
  }

  .about {
    width: 100%;
    text-align: center;
    max-width: 800px;

    h3 {
      font-weight: 700;
      margin-bottom: 1.3rem;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
    }

    button {
      margin-top: 1rem;
      padding: 0.5rem 2rem;
      background-color: black;
      color: white;
      border: none;
      border-radius: 2rem;
    }
  }

  .blogs {
    padding-top: 4rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;

    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(0, 0, 0, 0.123);
      margin-bottom: 0.5rem;
      padding: 0.5rem;

      .title {
        font-size: 1.3rem;
        font-weight: 700;
      }

      a {
        color: black;
      }
    }

    .blog {
      width: 300px;
      border: 1px solid rgba(0, 0, 0, 0.075);
      border-radius: 5px;
      overflow: hidden;
      transition: box-shadow 0.3s;
      font-size: 1rem;

      &:hover {
        box-shadow: 0 6px 8px 6px rgba(0, 0, 0, 0.253);
      }

      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
      }

      .content {
        padding: 1rem;
        display: flex;
        flex-direction: column;

        .title {
          font-weight: 700;
          margin-bottom: 0.5rem;
        }

        .description {
          margin-bottom: 1rem;
          flex: 1;
        }

        a {
          text-align: center;
          padding: 0.5rem;
          background-color: black;
          color: white;
          border-radius: 5px;
          border: none;
          width: 100%;
          flex: 1;
        }
      }
    }
  }

  .vlogs {
    margin-top: 6rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;

    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(0, 0, 0, 0.123);
      margin-bottom: 0.5rem;
      padding: 0.5rem;

      .title {
        font-size: 1.3rem;
        font-weight: 700;
      }

      a {
        color: black;
      }
    }

    .vlog {
      width: 300px;
      border: 1px solid rgba(0, 0, 0, 0.075);
      border-radius: 5px;
      overflow: hidden;
      transition: box-shadow 0.3s;
      font-size: 1rem;

      &:hover {
        box-shadow: 0 4px 6px 6px rgba(0, 0, 0, 0.253);
      }

      iframe {
        height: 200px;
        width: 100%;
      }

      .content {
        padding: 0.5rem 1rem;

        .title {
          font-weight: 700;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .topics {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    & > .title {
      font-weight: 700;
      font-size: 1.3rem;
      margin: 4rem 0 1rem 0;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: center;

      &::after {
        content: "";
        height: 1px;
        width: 40%;
        border-bottom: 4px solid black;
      }
    }

    .topic:nth-child(even) {
      flex-direction: row-reverse;
      background-color: rgba(0, 0, 0, 0);

      .content {
        text-align: right;
      }
    }

    .topic {
      padding: 3rem;
      display: flex;
      align-items: center;
      gap: 3rem;
      background-color: rgba(0, 0, 0, 0.041);
      border-radius: 5px;

      img {
        height: 200px;
        width: 45%;
        object-fit: contain;
      }

      .content {
        flex: 1;

        .title {
          font-weight: 700;
          font-size: 1.2rem;
          margin-bottom: 1rem;
        }

        .description {
          font-size: 1rem;
        }

        button {
          background-color: black;
          color: white;
          border: none;
          padding: 0.5rem 2rem;
          border-radius: 2rem;
          margin-top: 1.5rem;
        }
      }
    }
  }
}

#about-page-content {
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  font-size: 1rem;

  img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
  }

  #accordion {
    max-width: 700px;
    width: 100%;
  }
}

#contact-page-content {
  width: 100%;
  max-width: 500px;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  img {
    object-fit: contain;
    max-width: 200px;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;

    input[type="email"],
    textarea {
      margin-bottom: 1rem;
    }

    .send-message-btn {
      padding: 0.5rem 3rem;
      background: black;
      color: white;
    }
  }
}

footer {
  width: 100%;
  background-color: black;
  font-size: 1rem;

  .location {
    height: 300px;
    width: 100%;
  }

  .bottomNav {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;

    a {
      color: rgb(255, 255, 255);
    }
  }

  .copyright {
    text-align: center;
    padding: 2rem 1rem;
    color: rgba(255, 255, 255, 0.466);

    .privacyPolicyBtn {
      background: transparent;
      border: none;
      color: rgb(255, 255, 255);
    }
  }
}

#blog {
  width: 100%;
  max-width: 900px;
  padding: 0 1rem;

  .bread-crump {
    margin: 0.5rem 0 1rem 0;
    //background: rgba(0, 0, 0, 0.075);
    padding: 1rem 0;
    //border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(58, 58, 58);
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);

    a {
      color: blue;
    }
  }

  & > img {
    height: 400px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
  }

  .body {
    font-size: 1rem;

    .title {
      margin-top: 1rem;
      font-size: 1.3rem;
    }

    .author {
      margin-bottom: 1rem;
      color: rgba(0, 0, 0, 0.699);
      font-size: 1rem;
      display: flex;
      align-items: center;
      gap: 0.3rem;

      img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: cover;
        border-radius: 3rem;
      }
    }

    .content {
      text-align: justify;
    }
  }

  .related-blogs-title {
    margin-top: 3rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    font-size: 1rem;
  }

  .related-blogs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem 0;
    justify-content: center;

    .blog {
      flex: 1;
      max-width: 280px;
      min-width: 250px;
      border: 1px solid rgba(0, 0, 0, 0.075);
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: 0 6px 8px 6px rgba(0, 0, 0, 0.253);
      }

      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
      }

      .content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex: 1;
        font-size: 1rem;

        .title {
          font-weight: 700;
          margin-bottom: 0.5rem;
        }

        .description {
          margin-bottom: 1rem;
          flex: 1;
        }

        a {
          text-align: center;
          padding: 0.5rem;
          background-color: black;
          color: white;
          border-radius: 5px;
          border: none;
          width: 100%;
        }
      }
    }
  }
}

#gallery {
  margin-top: 2rem;

  img {
    cursor: pointer;
    filter: grayscale(1);
    transition: filter 0.3s;

    &:hover {
      filter: grayscale(0);
    }
  }
}

//MD BOOTSRAP GALLERY
#mdGalleryModal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.918);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .closeModal {
      background: transparent;
      color: rgb(255, 255, 255);
      height: 2rem;
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-end;
      background: rgb(87, 87, 87);
      border-radius: 4rem;
      margin-bottom: 0.5rem;
      border: none;
      font-size: 1.8rem;
      transform: rotateZ(45deg);
      cursor: pointer;
      position: absolute;
      bottom: 1rem;

      &:hover {
        background: rgb(129, 129, 129);
      }
    }

    img {
      flex: 1;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 991px) {
  header {
    .banner {
      background-color: rgba(255, 255, 255, 0.562);
      background-blend-mode: overlay;
      justify-content: center;
      height: 400px;

      .ctaMessage {
        text-align: center;
        margin: 1rem;

        h4 {
          color: black;
        }
      }
    }
  }

  #about-page-content {
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  main {
    .topics {
      .topic:nth-child(even),
      .topic {
        flex-direction: column;

        .content {
          text-align: center;
        }
      }
    }
  }

  #blog {
    img {
      height: 250px;
    }
  }
}

@media (max-width: 450px) {
  header {
    .navbar {
      .sc-icon {
        margin: 0 0.5rem;
      }
    }
  }

  main {
    .topics {
      .topic:nth-child(even),
      .topic {
        flex-direction: column;
        padding: 1rem;
      }
    }
  }
}
